/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

body {
  background-color: whitesmoke;
  color: #333;
}


.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 10px auto;
}

/* Product Card */
.product-card {
  width: 340px;
  height: 440px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card.product-card-view {
  height: 510px;
}

.product-card h2 {
  margin-bottom: 15px;
  font-size: 1.4em;
  align-self: center;
  color: black;
}

.product-card p {
  font-size: 1em;
  color: black;
  margin: 15px;
  align-self: center;
}

.product-card button {
  padding: 8px 16px;
  border: none;
  background-color: #1da1f2;
  color: black;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
  align-self: center;
}

.product-card button:hover {
  background-color: #0d8ddb;
}

.product-image {
  margin-left: 20px;
  border-radius: 5%;
  border: 2px solid black;
  width: 260px;
  height: 250px;
}

.review-section {
  width: 50%; 
  height: 530px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.review-section h3 {
  margin-bottom: 15px;
  font-size: 1.4em;
  color: black;
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
}

form textarea {
  height: 220px;
}

form button {
  padding: 10px;
  background-color: #1da1f2;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column; 
    gap: 10px; 
  }

  .review-section {
    width: 90%; 
    margin-left: 20px;
    padding: 30px; 
    margin-bottom: 30px;
  }

  .product-card {
    width: 90%; 
  }
  .product-image {
    margin-left: 70px;
  }
}
