* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

body {
  background-color: whitesmoke;
  color: #333;
}

/* Product Card */
.product-card {
  width: 340px;
  height: 440px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.product-card.product-card-view {
  height: 510px;
}
.product-card h2 {
  margin-bottom: 15px;
  font-size: 1.4em;
  align-self: center;
  color: black;
}

.product-card p {
  font-size: 1em;
  color: black;
  margin: 15px;
  align-self: center;
}

.product-card button {
  padding: 8px 16px;
  border: none;
  background-color: #1da1f2;
  color: black;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
  align-self: center;
}

.product-card button:hover {
  background-color: #0d8ddb;
}

/* Basket Page */
.cart-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
}

.cart-item h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.cart-item p {
  color: #666;
  margin: 5px 0;
}

.cart-item input[type="number"] {
  width: 50px;
  margin-left: 10px;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Total */
.cart-total {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

.product-image {
  margin-left: 30px;
  border-radius: 5%;
  border: 2px solid black;
  width: 250px;
  height: 250px;
}
